html, body {
    height: 100%;
}
.video_controls_container {
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}
.game {
    height: 60%;
    width: 100%;
}
#video {
}
#video > div {
    float: left;
    margin: 10px;
    width: 44% !important;
    height: 107px !important;
    display: inline-block;
}
.video_controls_container button {
    display: inline-block;
    margin: auto;
    width: auto;
    margin: 10px;
    width: 43%;
}
.hide {
    display: none !important;
}
.game_container {
    text-align: center;
}
.game_container img{
    max-width: -webkit-fill-available;
    margin: 30px;
}
.game_container button {
    margin-left: 10px;
}
